<!doctype html>
<html>
<head>
  <!--  jQuery -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <!--  bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- Bootstrap Date-Picker Plugin -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <title>Data viewer</title>
</head>
<body>
<div class="container">
  <div class="row">
    {% for index, image in images.iterrows() %}

    {% if loop.index0 % 4 == 0 and loop.index0 %}
  </div><div class="row">
    {% endif%}
    <div class="col">
      {{ image.year }} - {{ image.month }} - {{ image.day }}
      <img class="img-thumbnail" src="{{ url_for('custom_static', filename=image.path) }}"/>
    </div>
    {% endfor %}
  </div>
</div>

<script>
$('#datepicker').datepicker({
format: "yyyy/mm/dd",
clearBtn: true,
multidate: true
});
</script>
</body>
</html>
