{% extends "base.html" %}
{% block content %}
{% if current_user.is_authenticated %}
<div class="container">
  <div class="row">
    {% for image in images %}

    {% if loop.index0 % 4 == 0 and loop.index0 %}
  </div><div class="row">
    {% endif%}
    <div class="col">
      {{ image.year }} - {{ image.month }} - {{ image.day }}
      <a href="{{ url_for('custom_static', id = image.id) }}" data-toggle="lightbox" data-gallery="example-gallery">
        <img class="img-thumbnail" src="{{ url_for('custom_static', id = image.id) }}"/>
      </a>
    </div>
    {% endfor %}
  </div>
</div>

<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    {% if prev_url %}
      <li class="page-item"><a class="page-link" href="{{ prev_url }}">Previous</a></li>
    {% endif %}
    {% if next_url %}
      <li class="page-item"><a class="page-link" href="{{ next_url }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
{% else %}
Please <a href="{{ url_for('login') }}"> login </a> to see the pics.
{% endif %}
{% endblock %}
